.slick-dots li {
    margin: 0%;
}
.slick-dots li button::before{
    font-size: medium;
    color: #919191;
}
.slick-dots li button:hover:before {
    color: #efa41e;
}
.slick-dots li.slick-active button:before{
    color: #efa41e;
}